body {
  font-family: "Arial", sans-serif;
  background: #11111b;
}

.question {
  display: flex;
  justify-content: center;
  margin-top: 2%;

  p {
    font-size: 48px;
    color: #cdd6f4;
  }
}

.img {
  display: flex;
  justify-content: center;
}

img {
  display: flex;
  margin-top: 4%;
  max-height: 300px;
  max-width: max-content;
  border-radius: 20%;
}

.answers {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  flex-wrap: wrap;
  max-width: 100%;
  button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #1e1e2e;
    cursor: pointer;
  }
}

.reset {
  display: flex;
  justify-content: center;

  button {
    font-size: 46px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #cdd6f4;
    background-color: #11111b;
    cursor: pointer;
  }
}

.score {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #11111b;
  color: #cdd6f4;
  font-size: 48px;
}
