body{
  background-color: #11111b;
  color: #cdd6f4;
}

.header{
  color: #cdd6f4;
}

.main{
  display: flex;
  color: #cdd6f4;
}

.header input{
  border: none;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

button{
  border: none;
  background-color: #11111b;
  color: #cdd6f4;
}

button:hover{
  background-color: #1e1e2e;
}

h2{
  padding: 10px;
  text-align: center;
}
