/* style.css */
body {
  background-color: #181825; /* Darker background color */
  color: #cdd6f4; /* Text color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1e1e2e; /* Darker header background color */
  padding: 10px;
  text-align: center;
  color: #cdd6f4; /* Header text color */
}

.header input {
  border: 2px solid #cba6f7; /* Input border color */
  background-color: #1a1826; /* Darker input background color */
  color: #cdd6f4; /* Input text color */
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.header button {
  border: 2px solid #f38ba8; /* Button border color */
  background-color: #1e1e2e; /* Darker button background color */
  color: #cdd6f4; /* Button text color */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.header button:hover {
  background-color: #f38ba8; /* Hover background color */
  color: #1e1e2e; /* Hover text color */
  border-color: #cba6f7; /* Hover border color */
}

.main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.list {
  background-color: #1e1e2e; /* Darker list background color */
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list h2 {
  text-align: center;
  color: #cdd6f4; /* List header text color */
  border-bottom: 2px solid #f38ba8; /* Header bottom border color */
  padding-bottom: 10px;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list ul li {
  background-color: #292a36; /* Darker list item background color */
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #cdd6f4; /* List item text color */
}

.list ul li:hover {
  background-color: #f38ba8; /* Hover background color */
  color: #1e1e2e; /* Hover text color */
}

